.register {
  width: 400px;
  padding: 1rem;
  align-items: center;
}

.register > form input {
  border-radius: 20px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;
  margin: 2% 0;
  width: 90%;
  padding: 12px;
  font-size: 16px;
}
