.home_cointainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home_cointainer_header {
  background-color: #c550d566;
  margin: 0;
  padding: 20px;
}
.banner-image {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}
.home_items {
  /* width: 10px; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  flex: 1;
  overflow: scroll;
}
.home_item_box {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
}
.home_item_name {
  font-family: "Righteous", sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  margin: 0;
}
.home_item_prize {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home_item_rating {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}
